<% content_for :head do %>
  <%= stylesheet_link_tag "style_exp", media: "all" %>
<% end %>

       
<div class="main-centered-container">
        
    
        <div class="container mt-4">
            <div class="row">
                <div class="col-md-8">
                    <h2>IT Service Desk</h2>
                    <p class="exp-des"><i class="bi bi-headset"></i> On-campus job at Connecticut College. Provide help to students, professors and faculty with IT related questions. Mode: in-person, email, phone</p>
                    <h4>2024 - Today</h4>
                </div>
                <div class="col-md-4">
                    <img src="<%= asset_path 'desk.png' %>" class="card-img-top" alt="Project Image">
                </div>
            </div>
        </div>
        <div class="container mt-4">
            <div class="row">
                <div class="col-md-4">
                    <img src="<%= asset_path 'rocket.png' %>" class="card-img-top" alt="Project Image">
                </div>
                <div class="col-md-8">
                    <h2>Promin Aerospace</h2>
                    <p class="exp-des"><i class="bi bi-rocket"></i> I worked as an assistant for a chief engineer in the “Promin Aerospace” rocket factory. Assembled rocket engines, created a temperature analysis system inside the rocket engine</p>
                    <h4>Summer 2021</h4>
                </div>
                
            </div>
        </div>
        <div class="container mt-4">
            <div class="row">
                <div class="col-md-8">
                    <h2>KB Kubiki</h2>
                    <p class="exp-des"><i class="bi bi-easel"></i> I volunteer as a robotics teacher for kids (6-13 y.o.)</p>
                    <h4>2019-2020</h4>
                </div>
                <div class="col-md-4">
                    <img src="<%= asset_path 'teacher.png' %>" class="card-img-top" alt="Project Image">
                </div>
            </div>
        </div>
  
        <footer class="footer mt-auto py-3 bg-light">
            <div class="container">
                <span class="text-muted">© 2025 Artem Kyselov. All rights reserved.</span>
            </div>
        </footer>
</div>